
<div id="scrub_view">
    @Html.Partial("_ScrubMain")
    @Html.Partial("_ScrubStation")
    @Html.Partial("_ScrubProgram")
    @Html.Partial("_ScrubProgramConfirm")
    @Html.Partial("_ScrubTimeslot")
    @Html.Partial("_ScrubVerifyLeadIn")
</div>

@Scripts.Render("~/bundles/trackerScrub")