<!DOCTYPE html>
<html>
<head>
    <title>Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    @Styles.Render("~/content/css")
    @RenderSection("styles", false)

    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/app")

    <script type="text/javascript">
        //set baseUrl for API calls
        var baseUrl = "@Url.Content("~")";
    </script>

</head>

<body>
    @Html.Partial("NavBar")
    <!-- Primary Container -->
    <div class="container-fluid" style="margin: 12px 10px 0 10px;">
        <!-- App Status Bar -->
        <div class="row" style="margin: 0px;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4" style="padding-right: 0px;">
                <div id="broadcast_status" class="alert alert-info" role="alert" style="padding: 4px; margin: 0px 0px 0px 0px;">
                    <strong>Status: Ready </strong>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <!-- App Modals -->
    @Html.Partial("ErrorModal")
    @Html.Partial("SuccessModal")
    @Html.Partial("ProgressModal")

    @RenderSection("scripts", required: false)
</body>
</html>