<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding: 0px 20px 0px 35px;" href="http://cadentnetwork.com/" target="_blank">
                <img alt="Cadent Network" src="~/Styles/images/cad_logo_sm.png" style="margin-top:0px" class="img-responsive">
            </a>
        </div>
        <div id="broadcast_navbar_navs" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Rates" ? "active" : "")">@Html.ActionLink("Rate Cards", "Index", "Rates")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Planning" ? "active" : "")">@Html.ActionLink("Planning", "Index", "Planning")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Traffic" ? "active" : "")">@Html.ActionLink("Traffic", "Index", "Traffic")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Tracker Pre Posting", "TrackerPrePosting", "Home")</li>
                <!--<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Post" ? "active" : "")">@Html.ActionLink("Post", "Index", "Post")</li>-->
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "LegacyPost" ? "active" : "")">@Html.ActionLink("Post", "Index", "LegacyPost")</li>
                <!--<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Post" ? "active" : "")"><a href="/broadcastreact/post">Post</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="app_title_info">
                    <a href="#" style="pointer-events: none; cursor: default;">
                        <div class="cadent-blue-emphasis">
                            cadent broadcast
                            <span id="app_environment_name" class="label label-primary">ENV</span>
                        </div>
                        <div id="user_info" style="text-align: right; font-size: 12px;" class="user-green">@ViewBag.UserName</div>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" id="planning_nav_search_view" style="display: @(ViewContext.RouteData.Values["Controller"].ToString() == "Planning" ? "block" : "none")">
                <div class="input-group input-group-sm">
                    <span class="input-group-btn" data-bind="click: searchProposal">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>

                    <input type="number" class="form-control" placeholder="Search Proposal ID" data-bind="value: proposalSearchId, valueUpdate: 'afterkeydown', event: { keypress: proposalSearchKeypress }" />
                </div>
            </form>
           
        </div>
    </div>
</nav>