<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cadentnetwork.com/" target="_blank">
                @*<img alt="Cadent Network" src="~/Styles/images/cad_logo_sm.png" style="margin-top:0px" class="img-responsive">*@
                <img alt="Cadent Network" src="~/api/images/logo_png" style="width: 124px; margin-left: 6px;" class="img-responsive">
            </a>
        </div>
        <div id="broadcast_navbar_navs" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @* We don't need to track active class for React links, as they have their own tracking for the active tab. *@
                <li><a href="/broadcastreact/inventory">Inventory</a></li>
                @* Campaigns link is displayed according to system parameter. *@              
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLowerInvariant() == "campaigns" ? "active" : "")"><a href="/broadcastreact/campaigns">Campaigns</a></li>               
                    <li><a href="/broadcastreact/isci-mapping">Isci Mapping</a></li>
               
                @if (ViewBag.DisplaySpotExceptionsLink != null && ViewBag.DisplaySpotExceptionsLink)
                {
                    <li><a href="/broadcastreact/spot-exceptions">Spot Exceptions</a></li>
                }
                    @if (ViewBag.DisplayBuyingLink != null && ViewBag.DisplayBuyingLink)
                    {
                        <li><a href="/broadcastreact/buying">Buying</a></li>
                    }
                    <!-- @if (ViewBag.EnableAabNavigation == null || !ViewBag.EnableAabNavigation)
        {
            @* Comparing using lowercase because in some cases the framework sends the controller name in lowercase. *@
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLowerInvariant() == "traffic" ? "active" : "")">@Html.ActionLink("Traffic", "Index", "Traffic")</li>
            <li><a href="/broadcastreact/tracker">Tracker</a></li>
            <li><a href="/broadcastreact/post">Post</a></li>
        } -->
                    @* Tracker Pre Posting controller is called HomeController. *@
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLowerInvariant() == "home" ? "active" : "")">@Html.ActionLink("Tracker Pre Posting", "TrackerPrePosting", "Home")</li>
                    <li><a href="/broadcastreact/post-pre-posting">Post Pre Posting</a></li>
                    <li><a href="/broadcastreact/aab">AAB</a></li>

                </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="app_title_info">
                    <a href="#" style="pointer-events: none; cursor: default;">
                        <div class="cadent-blue-emphasis">
                            cadent broadcast
                            <span id="app_environment_name" class="label label-primary">ENV</span>
                        </div>
                        <div id="user_info" style="text-align: right; font-size: 12px;" class="user-green">@ViewBag.UserName</div>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" id="planning_nav_search_view" style="display: @(ViewContext.RouteData.Values["Controller"].ToString() == "Planning" ? "block" : "none")">
                <div class="input-group input-group-sm">
                    <span class="input-group-btn" data-bind="click: searchProposal">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    <input type="number" class="form-control" placeholder="Search Proposal ID" data-bind="value: proposalSearchId, valueUpdate: 'afterkeydown', event: { keypress: proposalSearchKeypress }" />
                </div>
            </form>
        </div>
    </div>
</nav>
