
<div id="station_view">
    <!-- MAIN STATION MODAL/GRID -->
    @Html.Partial("_StationModalMainGrid")
    <!-- Edit Program Modal (From Rates Context) -->
    @Html.Partial("_StationModalEditRatesProgram")
    <!-- Edit Program Modal THIRD PARTY (From Rates Context) -->
    @Html.Partial("_StationModalEditRateThirdParty")
    <!-- Add/New Program Modal (From Rates Context) -->
    @Html.Partial("_StationModalNewRatesProgram")
    <!-- End Flight Program Modal (From Rates Context) -->
    @Html.Partial("_StationModalEndFlight")
</div>
