<div class="modal slide-in modal-attached" id="proposal_modal" role="dialog">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content" id="proposal_view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 data-bind="visible: viewMode() === viewModes.create" class="modal-title">Create Planning Proposal</h4>
                <h4 data-bind="visible: viewMode() === viewModes.view, text: proposalTitle" class="modal-title"></h4>
            </div>

            <div class="modal-body" id="proposal_view_body">

                <!-- MENU -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#proposal_header" aria-expanded="false" aria-controls="proposal_header">
                            <span id="proposal_header_collapse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </div>

                    <div class="col-md-4" style="text-align: right;">
                        <div class="form-inline" data-bind="visible: viewMode() === viewModes.view">
                            <div class="form-group">
                                <label>Status</label>
                                <select name="proposal_post_type" style="margin: 0 5px 0 15px;" class="form-control" data-bind="attr: { disabled: isReadOnly() ? 'disabled' : null }, options: statusOptions, optionsValue: 'Id', optionsText: 'Display', value: status"></select>
                            </div>

                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 8px;">
                                <li><a id="save_as_version_opt" data-bind="visible: !isReadOnly(), click: saveAsVersion">Save As Version</a></li>
                                <li><a href="#" id="switch_version_opt" data-bind="click: switchVersion">Switch Version</a></li>
                                <li><a href="#" id="unorder_opt" data-bind="visible:isReadOnly() && status() != 4, click: unorder">Unorder</a></li>
                                <li><a href="#" id="scx_opt" data-bind="visible:isReadOnly() && status() != 4, click: generateScx">Generate SCX</a></li>
                                <li><a id="delete_opt" data-bind="visible: canDelete(), click: deleteProposal">Delete Proposal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="proposal_header" class="collapse in">
                    <form id="proposal_form" action="#">
                        <!-- PROPOSAL HEADER (ROW 1) -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Proposal Name</label>

                                    <input type="text" class="form-control" name="proposal_name" data-bind="value: proposalName, attr: { disabled: isReadOnly() ? 'disabled' : null }" />
                                    <div style="padding-left: 20px;" data-bind="visible: proposalId">
                                        Proposal ID: <span data-bind="text: proposalId"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>Markets</label>
                                    <div class="dropdown">
                                        <input class="form-control dropdown-toggle read-only-picker" type="text" id="dropdownMenu1" data-toggle="dropdown" readonly data-bind="css: {disabled: isReadOnly, 'input-disabled': isReadOnly  }, value: !_.isEmpty(selectedMarket()) ? selectedMarket().Display : 'select a market...'">
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <!-- ko foreach: markets -->
                                            <li data-bind="css: { active: !_.isEmpty($parent.selectedMarket()) && $parent.selectedMarket().Id == Id }">
                                                <a class="active market-option" href="#" data-bind="click: $parent.selectMarket">
                                                    <span class="pull-left" data-bind="text: Display"></span>
                                                    <span class="pull-right market-counter" data-bind="text: Count"></span>
                                                </a>
                                            </li>
                                            <!-- /ko -->

                                            <li role="separator" class="divider"></li>

                                            <li><a href="#" data-bind="click: openCustomMarketModal">Edit Custom Markets List</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>Post Type</label>
                                    <select name="proposal_post_type" class="form-control" data-bind="attr: { disabled: isReadOnly() ? 'disabled' : null }, options: postTypes, optionsValue: 'Id', optionsText: 'Display', value: selectedPostType"></select>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Equivalized</label>
                                        <select name="proposal_equivalized" class="form-control" data-bind="attr: { disabled: isReadOnly() ? 'disabled' : null }, options: equivalizedOptions, optionsValue: 'Val', optionsText: 'Display', value: equivalized"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" >
                                            <label>Target CPM</label>
                                            <div>
                                                <span class="form-control-static" data-bind="text: totalCpm() ? numeral(totalCpm()).format('$0,0[.]00') : '-'"></span> /
                                                <span class="form-control-static" data-bind="text: targetCpm() ? numeral(targetCpm()).format('$0,0[.]00') : '-'"></span>
                                                <span class="label" data-bind="text: totalCPMPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': totalCPMMarginAchieved, 'label-success': !totalCPMMarginAchieved() }"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Target Budget</label>
                                            <div>
                                                <span class="form-control-static" data-bind="text: totalCost() ? numeral(totalCost()).format('$0,0[.]00') : '-'"></span> /
                                                <span id="proposal_target_budget" class="form-control-static" data-bind="text: targetBudget() ? numeral(targetBudget()).format('$0,0[.]00') : '-'"></span>
                                                <span class="label" data-bind="text: totalCostPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': totalCostMarginAchieved, 'label-success': !totalCostMarginAchieved() }"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Target Impressions</label>
                                            <div>
                                                <span class="form-control-static" data-bind="text: numeral(totalImpressions()).format('0,0.[000]')"></span> /
                                                <span class="form-control-static" data-bind="text: targetImpressions() ? numeral(targetImpressions()).format('0,0.[000]') : '-'"></span>
                                                <span class="label" data-bind="text: totalImpressionsPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': !totalImpressionsMarginAchieved(), 'label-success': totalImpressionsMarginAchieved }"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Target Units</label>
                                            <p class="form-control-static" data-bind="text: targetUnits() ? targetUnits().toFixed(0) : '-'"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PROPOSAL HEADER (ROW 2) -->
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Advertiser</label>
                                    <div>
                                        <select class="form-control" name="proposal_advertiser" data-bind="attr: { disabled: isReadOnly() ? 'disabled' : null }, options: advertisers, optionsValue: 'Id', optionsText: 'Display', value: selectedAdvertiser, select2: true"></select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Guaranteed Demo</label>
                                    <div>
                                        <select name="proposal_demo" class="form-control" data-bind="attr: { disabled: isReadOnly() ? 'disabled' : null }, options: audiences, optionsValue: 'Id', optionsText: 'Display', value: selectedAudience, select2: { matcher: controller.proposalView.select2MatchStart }"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Secondary Demo</label>
                                    <div>
                                        <select multiple="multiple" class="form-control" name="proposal_secondary_demo" data-bind="attr: { disabled: isReadOnly() ? 'disabled' : null }, options: secondaryAudiences, optionsValue: 'Id', optionsText: 'Display', selectedOptions: selectedSecondaryAudiences, select2: { matcher: controller.proposalView.select2MatchStart }"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Spot Length</label>
                                            <p class="form-control-static" data-bind="text: spotLengthDisplays"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Flight</label>
                                            <span id=proposal_flight_icon data-bind="visible: flightWeeks() && flight(), html: flightIcon"></span>
                                            <p class="form-control-static" data-bind="text: flight"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Notes</label>
                                                <textarea name="proposal_notes" class="form-control" rows="2" maxlength="256" data-bind="value: notes, attr: { disabled: isReadOnly() ? 'disabled' : null }"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Proposal Detail-->
                <div id="proposal_detail">
                    <h5 class="cadent-dk-blue" style="text-align: center;"><strong>Proposal Detail</strong></h5>
                    <div data-bind="foreach: proposalDetails">
                        <!-- Detail Header-->
                        <div data-bind="attr: { id: $index() }" class="well well-sm">
                            <div class="header-row row">
                                <div class="col-md-11">
                                    <form class="form-inline" data-bind="attr: {'id': 'proposal_detail_form_' + id()}">
                                        <div class="form-group">
                                            <label>Flight</label>

                                            <div class="input-group input-group-sm proposal-detail-input" data-bind="if: $index() == ($parent.proposalDetails().length - 1)">
                                                <input type="text" style="width: 160px;" class="form-control input-sm read-only-picker" readonly data-bind="css: {'input-disabled': $parent.isReadOnly() }, attr: { disabled: $parent.isReadOnly() ? 'disabled' : null, 'name': 'proposal_detail_flight_' + id()}, flightWeekPicker: { startDate: FlightStartDate, endDate: FlightEndDate, weekSelection: FlightWeeks, noMinimum: true, drop: 'up', applyCallback: onFlightSelect }" required>
                                                <span class="input-group-addon "><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                            </div>

                                            <div class="input-group input-group-sm proposal-detail-input" data-bind="if: $index() < ($parent.proposalDetails().length - 1)">
                                                <input type="text" style="width: 160px;" class="form-control input-sm read-only-picker" readonly data-bind="css: {'input-disabled': $parent.isReadOnly() }, attr: { disabled: $parent.isReadOnly() ? 'disabled' : null, 'name': 'proposal_detail_flight_' + id()}, flightWeekPicker: { startDate: FlightStartDate, endDate: FlightEndDate, weekSelection: FlightWeeks, noMinimum: true, drop: 'down', applyCallback: onFlightSelect }" required>
                                                <span class="input-group-addon "><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                            </div>
                                        </div>

                                        <div class="form-group" data-bind="visible: hasDetail">
                                            <label>Spot Length</label>
                                            <select class="form-control input-sm proposal-detail-input" style="width:70px;" data-bind="options: $root.spotLengths, optionsValue: 'Id', optionsText: 'Display', value: SpotLength, attr: { disabled: $parent.isReadOnly() ? 'disabled' : null, 'name': 'proposal_detail_spot_' + id()}" required></select>
                                        </div>

                                        <div class="form-group" data-bind="visible: hasDetail">
                                            <label>Daypart</label>
                                            <input type="text" class="form-control input-sm proposal-detail-input read-only-picker" readonly style="width: 220px;" data-bind="css: {'input-disabled': $parent.isReadOnly() }, attr: {disabled: $parent.isReadOnly() ? 'disabled' : null, 'id': 'proposal_detail_daypart_' + id(), 'name': 'proposal_detail_daypart_' + id()}" required>
                                        </div>

                                        <div class="form-group" style="margin-right: 6px;" data-bind="visible: hasDetail">
                                            <label>Daypart Code</label>
                                            <input type="text" class="form-control input-sm proposal-detail-input" style="width: 80px;" data-bind="value: DaypartCode, attr: {disabled: $parent.isReadOnly() ? 'disabled' : null,  'id': 'proposal_detail_daypart_code_' + id(), 'name': 'proposal_detail_daypart_code_' + id()}" maxlength="10" required>
                                        </div>

                                        <button class="btn btn-primary btn-xs" role="button" type="button" data-bind="click: openInventory, visible: hasDetail">Inventory</button>
                                        <button class="btn btn-primary btn-xs" style="margin-left: 5px;" role="button" type="button" data-bind="click: openOpenMarket, visible: hasDetail">Open Market Inventory</button>

                                        <div class="form-group" style="margin-left: 6px;" data-bind="visible: hasDetail">
                                            <input type="checkbox" data-bind="checked: checkedAdu, attr: {disabled: $parent.isReadOnly() ? 'disabled' : null }" />
                                            <label>ADU</label>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-1" style="text-align: right">
                                    <button type="button" class="btn btn-link proposal-detail-remove-btn" data-bind="click: onRemoveDetail, visible: hasDetail() && !$parent.isReadOnly() ">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    
                                    <button class="btn btn-primary btn-xs" style="margin-left: 5px;" role="button" type="button" data-bind="visible: hasDetail, click: openManageRatings">Sweeps</button>
                                </div>
                            </div>

                            <!-- Detail Grid-->
                            <div data-bind="visible: hasDetail,  attr: {'id': 'proposal_detail_grid_' + id()}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" role="button" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" role="button" type="button" data-bind="click: save">Save</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_SwitchProposalVersionModal")
@Html.Partial("_VersionCreatedOptionsModal")
@Html.Partial("_ProposalDetailInventoryModal")
@Html.Partial("_ProposalDetailOpenMarketModal")
@Html.Partial("_CustomMarketsModal")
@Html.Partial("_ManageRatings")
@Html.Partial("_ProposalUpdateWarningModal")
